src/main/mule/fibonacci-tenants.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	
    <api-gateway:autodiscovery apiId="${tenant_appid}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="c0e557d4-3794-4281-aeaa-bd727b262705" flowRef="fibonacci-tenants" />
	<flow name="fibonacci-tenants">
		<http:listener doc:name="Listener" doc:id="716d43b0-7064-461d-81f1-60ccaf8497a2" config-ref="HTTP_Listener_config" path="/users/{tenant}/fib/{number}"/>
		<set-variable value='#[attributes.uriParams.tenant default ""]' doc:name="Set Tenant" doc:id="20291b59-e83c-4d1d-b738-f2465b7cfc31" variableName="tenant"/>
		<set-variable value="#[fun defaultUrl(host, tenant) = &quot;http://&quot; ++ (host default &quot;localhost:8081&quot;) ++ &quot;/users/&quot; ++ tenant
---
p('tenants.' ++ vars.tenant) default defaultUrl(attributes.headers.host, vars.tenant)]" doc:name="Set BaseUrl" doc:id="6a4acc14-95f8-404d-907e-43bde0c0b5af" variableName="baseUrl"/>
		<set-variable value="#[attributes.uriParams.number as Number]" doc:id="9c33e7ef-82fa-48b9-a1a8-04dd1b473456" variableName="number" doc:name="Set Number"/>
		<set-variable value="#[now()]" doc:name="Log Start Call (startTime)" doc:id="79729595-3f15-434b-8e4d-2373c560727f" variableName="startTime"/>
		<flow-ref doc:name="Call Fibonacci function" doc:id="74c185f2-5ad4-453f-b7af-57e942b4eb1c" name="fibonacci-function"/>
		<set-variable value='#[(now() - vars.startTime) as Number {unit: "milliseconds"}]' doc:name="Log End Call (duration)" doc:id="bcf36aea-53d3-44de-a203-a71f030c1c78" variableName="duration"/>
		<logger level="INFO" doc:name="Track call information" doc:id="40740fbc-9d2b-4b1a-8fa4-65f5b9790f11" message='#["TENANT: " ++ vars.tenant ++ ", Number: " ++ vars.number ++ ", Duration: " ++ vars.duration ++ ", Service: " ++ vars.baseUrl]' />
		<ee:transform doc:name="JSON Result" doc:id="338f7583-75fa-4887-8c81-7f42b904d4d3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	result: vars.result,

	metadata: {
		user: vars.tenant,
		'input': vars.number,
		duration: vars.duration
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	
	</mule>
