src/main/mule/fibonacci-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="81897f77-e628-471c-ac13-02fb10c3ae9b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="fibonacci-apiFlow" doc:id="0725938f-1173-4e26-94a2-316ecadca2f6" >
		<http:listener doc:name="Listener" doc:id="0ffdd910-571c-4993-b790-09d3d92e9009" config-ref="HTTP_Listener_config" path="/fib/{number}"/>
		<set-variable value='#[attributes.headers.host default "127.0.0.1:8081"]' doc:name="Host" doc:id="7fe13f60-859f-4c3c-bc45-6db7154d2fc3" variableName="host"/>
		<set-variable value="#[attributes.uriParams.number as Number]" doc:name="Number" doc:id="21fdfe28-41d4-4f22-8458-cbf1f148e762" variableName="number"/>
		<logger level="INFO" doc:name="Logger" doc:id="8542e9ac-3bbe-4362-80fd-fd02e1d676fd" message='#["Number: " ++ vars.number ++ ", Host: " ++ vars.host]' />
		<choice doc:name="Choice" doc:id="a8f136ce-f2bc-4230-85d2-7c53df76bf04" >
			<when expression="#[vars.number == 0]">
				<set-variable value="0" doc:name="Fib(0) = 0" doc:id="fc35a1f9-70a5-4dc7-9546-c67c1968bc56" variableName="result"/>
			</when>
			<when expression="#[vars.number == 1]">
				<set-variable value="1" doc:name="Fib(1) = 1" doc:id="3e6c46b4-c6d7-431a-b595-261818de3e81" variableName="result"/>
			</when>
			<otherwise >
				<http:request method="GET" doc:name="Fib(N-1)" doc:id="09c36b1d-f276-4d81-bada-4292950b7937" url='#["http://" ++ vars.host ++ "/fib/{number}"]' target="n1" targetValue="#[payload.result as Number]">
					<http:uri-params ><![CDATA[#[output application/java
---
{
	"number" : (vars.number-1) as Number
}]]]></http:uri-params>
				</http:request>
				<http:request method="GET" doc:name="Fib(N-2)" doc:id="d332c20e-27bc-43a5-87ac-3adc3b31edf4" url='#["http://" ++ vars.host ++ "/fib/{number}"]' target="n2" targetValue="#[payload.result as Number]">
					<http:uri-params ><![CDATA[#[output application/java
---
{
	"number" : (vars.number-2) as Number
}]]]></http:uri-params>
				</http:request>
				<set-variable value="#[vars.n1 + vars.n2]" doc:name="N1 + N2" doc:id="f5c93281-7b05-4be3-980a-361bbc9a190f" variableName="result"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="96be789d-54a8-42cb-a782-a9d21feec88f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	result: vars.result
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
