src/main/mule/fibonacci-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="81897f77-e628-471c-ac13-02fb10c3ae9b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="fibonacci-apiFlow" doc:id="0725938f-1173-4e26-94a2-316ecadca2f6" >
		<http:listener doc:name="Listener" doc:id="0ffdd910-571c-4993-b790-09d3d92e9009" config-ref="HTTP_Listener_config" path="/fib/{number}"/>
		<logger level="INFO" doc:name="Logger" doc:id="8542e9ac-3bbe-4362-80fd-fd02e1d676fd" message="#[message.attributes]"/>
		<set-variable value='#[attributes.headers.host default "127.0.0.1:8081"]' doc:name="Host" doc:id="7fe13f60-859f-4c3c-bc45-6db7154d2fc3" variableName="host"/>
		<set-variable value="#[attributes.uriParams.number]" doc:name="Number" doc:id="21fdfe28-41d4-4f22-8458-cbf1f148e762" variableName="number"/>
		<ee:transform doc:name="Transform Message" doc:id="49f7df40-a3be-4068-9f94-de5b96c828d4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	host: vars.host,
	number: vars.number
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
